extends layout

block content
    div(id="wrapper")
        section(class="cols sect-3", id="sidebar")
            div(id="top_bar")
                span= title
                a(href="https://github.com/Nelkit/flappyMejorando.la" target="_blank" class="btn-github") Ver Código Fuente
            article(class="block-sidebar")
                a(href="#pantall_completa",id="btn_fullscreen") ⇅ Pantalla Completa
            article(id="puntaje", class="block-sidebar")
                h2 Puntajes de Jugadores
                table(id="lista", width="100%")
                a(href="#refrescar" id="refresh") ↺ Refrescar
            article(id="btns_social", class="block-sidebar")
                h2 Compártelo
                section
                    a(href="https://twitter.com/share" class="twitter-share-button" data-text="Flappy @mejorandola desarrollado para la clase de Programación Basica" data-hashtags="soymejorandola") Tweet
                    div(class="fb-like" data-href="http://flappy-mejorandola.herokuapp.com/" data-width="100" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false")
            article(class="block-sidebar")
                h2 Desarrollador
                a(href="https://twitter.com/CNelkit" class="twitter-follow-button" data-show-count="false") @CNelkit
        section(class="cols sect-9",id="central")
            div(id="phone")
                div(id="perdiste", class="animated bounceIn")
                    section(class="container max-m")
                        article
                            span Puntos:
                                i(id="lbl_puntos")  0
                            span Mejor:
                                i(id="lbl_mejor")  0
                        article
                            form(method="POST", action="/insert_score")
                                input(type="text",name="name", id="name", placeholder="Tu Nombre", required)
                                hr
                                input(type="hidden",name="score", id="score", value="0")
                                input(type="submit", class="btn-send" ,value="Guardar Puntaje")

                    section(class="container min-m", id="btn-newgame") ▶ Jugar de Nuevo
                div(id="preparate", class="animated")
                canvas(id="lienzo")
    script(type='text/javascript').
        iniciar()
        init()
    script(type='text/javascript').
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

