doctype html
html(lang="es")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/estilo.css')
    script(src='/javascripts/main.js')
    script(src="/javascripts/flappy.js")
  body
    block content