@font-face {
  font-family: "karmatic_arcaderegular";
  src: url("../fonts/ka1-webfont.eot");
  src: url("../fonts/ka1-webfont.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/ka1-webfont.woff2") format("woff2");
  src: url("../fonts/ka1-webfont.woff") format("woff");
  src: url("../fonts/ka1-webfont.ttf") format("truetype");
  src: url("../fonts/ka1-webfont.svg#karmatic_arcaderegular") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  background: #313131;
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-family: helvetica;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

hr {
  background: #d9d8d8;
  border: 1px solid #d9d8d8;
  margin: 15px 0px; }

#wrapper {
  width: 100%;
  height: 1000px;
  background: #313131;
  padding: 0px;
  letter-spacing: -0.35em;
  position: relative; }

.cols {
  display: inline-block;
  vertical-align: top;
  margin: 0px;
  vertical-align: center; }

.sect-1 {
  width: 8.33%; }

.sect-2 {
  width: 16.66%; }

.sect-3 {
  width: 24.99%; }

.sect-4 {
  width: 33.32%; }

.sect-5 {
  width: 41.65%; }

.sect-6 {
  width: 49.98%; }

.sect-7 {
  width: 58.31%; }

.sect-8 {
  width: 66.64%; }

.sect-9 {
  width: 74.97%; }

.sect-10 {
  width: 83.3%; }

.sect-11 {
  width: 91.63%; }

.sect-12 {
  width: 99.99%; }

#sidebar {
  background: #ECF0F1;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 88px 10px;
  left: 0px;
  top: 0px;
  height: 100%;
  z-index: 2; }

#central {
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

#central .top {
  letter-spacing: normal;
  background: rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 5px 10px;
  top: 0px;
  font-family: karmatic_arcaderegular;
  color: #ECF0F1; }

#lienzo {
  margin-top: 40px; }

#phone {
  overflow: hidden;
  margin: 100px auto;
  width: 360px;
  height: 667px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background: url(../images/phone.png);
  padding: 52px 0px;
  position: relative; }

#phone canvas {
  cursor: pointer;
  position: relative;
  left: -1px; }

#phone #preparate {
  cursor: pointer;
  background: url(../images/getready.png);
  position: absolute;
  display: block;
  top: 90px;
  left: 10px;
  z-index: 2;
  height: 512px;
  width: 343px; }

#phone #perdiste {
  cursor: pointer;
  position: absolute;
  display: none;
  top: 90px;
  left: 10px;
  z-index: 4;
  height: 512px;
  width: 340px; }

.max-m {
  margin: 135px auto 0px auto;
  border-radius: 8px 8px 0px 0px;
  -moz-border-radius: 8px 8px 0px 0px;
  -webkit-border-radius: 8px 8px 0px 0px;
  -o-border-radius: 8px 8px 0px 0px; }

.min-m {
  margin: 5px auto 0px auto;
  border-radius: 0px 0px 8px 8px;
  -moz-border-radius: 0px 0px 8px 8px;
  -webkit-border-radius: 0px 0px 8px 8px;
  -o-border-radius: 0px 0px 8px 8px; }

#btn-newgame:hover {
  color: #3498DB; }

#phone #perdiste .container {
  background: white;
  position: relative;
  letter-spacing: normal;
  width: 82%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 15px 0px; }

.container span {
  display: inline-block;
  padding: 5px 10px;
  font-size: 1.2em;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

.container input[type="text"] {
  width: 80%;
  color: #a1a0a0;
  background: #ebebeb;
  border: 1px solid #d9d8d8;
  font-size: 1.4em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 5px; }

.container input[type="text"]:focus {
  outline: 0px; }

.btn-send {
  background: transparent;
  border: 2px solid #3498DB;
  color: #3498DB;
  font-size: 1.4em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -o-border-radius: 4px 4px 4px 4px;
  padding: 5px;
  cursor: pointer; }

.btn-send:hover {
  background: #3498DB;
  color: white; }

#top_bar {
  border-bottom: 4px solid #16A085;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 5;
  background: #1ABC9C;
  color: #ECF0F1;
  font-size: 1.2em;
  font-family: karmatic_arcaderegular;
  padding: 20px 0px;
  letter-spacing: normal; }

#top_bar span {
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: 5px; }

#puntaje {
  width: 100%;
  background: #d6dfe2;
  letter-spacing: normal;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -o-border-radius: 10px 10px 10px 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 10px 0px;
  border: 2px solid #bdc6c8; }

#puntaje h2 {
  color: #34495E; }

table {
  border-collapse: collapse; }

table {
  border: 0px; }

th {
  border-bottom: 4px solid #b4b9ba;
  padding: 8px; }

td {
  padding: 8px; }

#lista td, #lista th {
  background-color: white;
  color: #717171; }

#lbl_puntos {
  font-style: normal; }

.btn-github {
  margin-left: 20px;
  vertical-align: top;
  padding: 5px 10px 5px 40px;
  font-size: 1.2rem;
  display: inline-block !important;
  color: #1ABC9C;
  font-family: helvetica;
  text-decoration: none;
  background-image: url(../images/github.png);
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-position: 10px 3px;
  background-color: white;
  border-bottom: 3px solid #BDC3C7;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -o-border-radius: 10px 10px 10px 10px; }

.btn-github:hover {
  text-decoration: none;
  background-color: #2C3E50;
  border-bottom: 3px solid #1ABC9C; }

/*# sourceMappingURL=estilo.css.map */
