@mixin box-sizing($a)
    box-sizing: $a
    -moz-box-sizing: $a

@mixin border-radius($a, $b, $c, $d)
    border-radius: $a $b $c $d
    -moz-border-radius: $a $b $c $d
    -webkit-border-radius: $a $b $c $d
    -o-border-radius: $a $b $c $d

@font-face
    font-family: 'karmatic_arcaderegular'
    src: url('../fonts/ka1-webfont.eot')
    src: url('../fonts/ka1-webfont.eot?#iefix') format('embedded-opentype')
    src: url('../fonts/ka1-webfont.woff2') format('woff2')
    src: url('../fonts/ka1-webfont.woff') format('woff')
    src: url('../fonts/ka1-webfont.ttf') format('truetype')
    src: url('../fonts/ka1-webfont.svg#karmatic_arcaderegular') format('svg')
    font-weight: normal
    font-style: normal

body
    background: #313131
    margin: 0px
    padding: 0px
    text-align: center
    font-family: helvetica

#wrapper
    width: 100%
    height: 1000px
    background: #313131
    padding: 0px
    letter-spacing: -0.35em
    position: relative

.cols
    letter-spacing:normal
    display: inline-block
    vertical-align: top
    margin: 0px
    vertical-align: center

.sect-1
    width: 8.33%

.sect-2
    width: 16.66%

.sect-3
    width: 24.99%

.sect-4
    width: 33.32%

.sect-5
    width: 41.65%

.sect-6
    width: 49.98%

.sect-7
    width: 58.31%

.sect-8
    width: 66.64%

.sect-9
    width: 74.97%

.sect-10
    width: 83.3%

.sect-11
    width: 91.63%

.sect-12
    width: 99.99%

#sidebar
    background: #ECF0F1
    +box-sizing(border-box)
    padding: 76px 10px
    left: 0px
    top: 0px
    height: 100%
    z-index: 2

#central
    +box-sizing(border-box)

#central .top
    letter-spacing: normal
    background: rgba(0,0,0,0.4)
    position fixed
    +box-sizing(border-box)
    padding: 5px 10px
    top: 0px
    font-family: karmatic_arcaderegular
    color: #ECF0F1

#lienzo
    margin-top: 40px

#phone
    margin: 100px auto
    width: 360px
    height: 667px
    +box-sizing(border-box)
    background: url(../images/phone.png)
    padding: 52px 0px
    position: relative

#phone canvas
    cursor: pointer
    position: relative
    left: -1px

#top_bar
    border-bottom: 4px solid #16A085
    width: 100%
    position: fixed
    top: 0px
    left: 0px
    z-index: 2
    background: #1ABC9C
    color: #ECF0F1
    font-size: 1.2em
    font-family: karmatic_arcaderegular
    padding: 20px 0px
    letter-spacing: normal

#puntaje
    width: 100%
    background: #d6dfe2
    letter-spacing: normal
    +border-radius(10px, 10px, 10px, 10px)
    +box-sizing(border-box)
    padding: 10px 0px
    border: 2px solid #bdc6c8

#puntaje h2
    color: #34495E

table
    border-collapse: collapse
table
    border: 0px

th
    border-bottom: 4px solid #b4b9ba
    padding: 8px
td
    padding: 8px

#lista td, #lista th
    background-color: white
    color: #717171